// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

$nav-height: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// Box shadows
$light-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$medium-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$border-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

// Transitions
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
