:host {
  margin: 3rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  border-radius: 1rem;
  background-color: #f3f3f3;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  :first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .red-time {
    color: red;
  }
}
