:host {
  .screen {
    position: fixed;
    width: 80vw;
    height: 50vh;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1rem;
    h1 {
      font-size: 1.5rem;
    }
    .button-1 {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
  ul {
    gap: 1rem;
    li {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      border-radius: 0.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      img {
        height: 90px;
      }
      div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 1.25rem;
          text-align: center;
          margin-bottom: 1rem;
          width: 100%;
        }
      }
    }
  }
}
